SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=465
# Ici, il faut mettre la CLÉ API 
SMTP_USER=123456789ab1234c56789d
# Ici, la CLÉ SECRÈTE
SMTP_PASSWORD=123456789ab1234c56789d 
MAILFROM="from@gmail.com"
MAILTO="to@gmail.com"